* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  height: 100vh;
}

.mainMenu {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: chocolate;
  height: 100%;
}

.detailsMenu {
  flex: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: chartreuse;
  height: 100%;
}
